/* @import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap'); */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-top: 5px;
    width: 150px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}



header.logo
{
    position: relative;
    max-width: 100px;
    margin-top: 10%;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li 
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    /* color: #333; */
    font-weight: 700;
    font-size: 25px;
    margin-left: 40px;
    text-decoration: none;
    color: #017143;
    text-shadow: black;
    transition: 0.6s;
}
header ul li a:hover
{
    transform: translateY(-15px);
    text-underline-offset: 30px;
}
.brand-name {
    font-size: 90px; /* Adjust the font size of the brand name */
    margin-left: 40px;
    margin-top: 1px; /* Adjust the spacing between the logo and the brand name */
}
.content
{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.content .textBox
{
    position: relative;
    max-width: 600px;
    margin-top: 10%;
    margin-left: 2%;
}
.content .textBox h2
{
    color: #333;
    font-size: 4em;
    line-height: 1.9em;
    font-weight: 500;
}
.content .textBox h2 span
{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p 
{
    /* text-align: center; */
    color: #333;
}
.content .textBox a 
{
    display: inline-block;
    margin-top: 20px;
    
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    
}

.content .imgBox
{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
}
.content .imgBox img
{
    max-width: 340px;
}
.thumb
{
    position:absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li
{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover
{
    transform: translateY(-18px);
}
.thumb li img
{ 
    max-width: 80px;
}
.sci
{
    position:absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
    margin-right: 2%;
}
.sci li
{
    list-style: none;
    transition: 0.7s;
}
.sci li:hover
{
    transform: translateX(-18px);
   
}

.sci li a 
{
    display: inline-block;
    margin: 15px 0;
    transform: scale(0.6);
    filter: invert(1);
}
.sci li a img {
   
    width: 33px; /* Increase the width of the social media icons */
    height: 40px; /* Increase the height of the social media icons */
}

.circle
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path: circle(600px at right 800px);
}